html, body {
    width: 220px;
}

.hidden {
    display: none;
}

.button {
    margin: 3% auto;
    padding: 4px;
    font-size: 36px;
    cursor: pointer;
    font-family: monospace;
}

.button code {
    color: #cc668b;
}

.env.active {
    background: #FFE6EF;
}

.button img {
    width: 32px;
    margin-right: 5px;
}

.logo {
    background-color: #E5F2F2;
}

.logo:hover {
    background-color: #CFF2F2;
}

.reset {
    background-color: #FBFBC9;
}

.reset:hover {
    background-color: #EAEA9D;
}
